# .github/workflows/stock_scan.yml
name: Run Stock Scanner

# 定义触发器
on:
  schedule:
    # 使用 Cron 表达式设置在周一到周五的UTC时间晚上22:00运行
    # 这对应北京时间周二到周六的凌晨6:00
    # Cron 表达式格式: 分钟 小时 日 月 星期几 (UTC时间)
    # 0 22 * * 1-5
    # 1-5 代表周一到周五 (0是周日, 1是周一, ..., 6是周六)
    - cron: '0 22 * * 1-5'
  # 允许手动触发
  workflow_dispatch:

# 定义作业
jobs:
  run-script:
    # 指定运行环境
    runs-on: ubuntu-latest

    steps:
    # 步骤1: 检出仓库代码
    - name: Checkout repository
      uses: actions/checkout@v4

    # 步骤2: 设置 Python 环境
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' # 使用最新的 Python 3.x 版本

    # 步骤3: 安装依赖
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 步骤4: 运行脚本
    - name: Run Python script
      env:
        EMAIL_NAME: ${{ secrets.EMAIL_NAME }}
        EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}
      run: |
        python stock_scanner.py
